@import url('https://fonts.googleapis.com/css?family=Bitter');


body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Bitter', serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
  color: #FFFFFF;
  background-color: #000000;
}

h1 {
  color: #FFFFFF;
  padding: 20px 0px 10px 0px;
  text-decoration: underline none;
  text-decoration-style: none;
  text-shadow: 2px 2px none;
  transform: rotate(0deg);
}

body {
  background-image: none;
  background-color: none;
/*
  border-top: 15px solid #7328FF;
  border-bottom: 15px solid #7328FF;
  border-left: 15px solid #7328FF;
  border-right: 15px solid #7328FF;
  */
}

a {
  color: #7328FF;
  text-decoration: none;
}

/* Centers images */

img {
  display: grid;
  margin: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 10px 10px;
}

Create four equal columns that sits next to each other
.column {
  flex: 25%;
  max-width: 25%;
  padding: 10px;
}

.column img {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  vertical-align: middle;
}
/*
Responsive layout - makes a two column-layout instead of four columns
@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

Responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
*/
